.product-info input,
.product-info textarea,

.product-info select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.product-info textarea {
  resize: vertical;
}
